html{

    font-size:16px;
    

}


.wrapper {

    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  lightslategray;
    justify-self: center;
    position: absolute;
    top: 25%;
    left: 20%;
    row-gap: 2rem;
    padding: 0.5rem;




}

form {

    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 0.75rem;
    flex-shrink: 0;
    flex-grow: 1;
}

flex>input {
    display: block;
    padding: 0.5rem;
    border-radius: 50%;
}


.signup {

    position: absolute;
    top: 80%;
    right: 10%;
    background-color: purple;


}

link{
    background-color: magenta;
}
